binds {

    /* Spawn and power */

    Mod+U repeat=false { spawn "kitty"; }
    Mod+I repeat=false { spawn "fuzzel"; }
    Mod+T repeat=false { spawn "anki"; }
    Mod+Y repeat=false { spawn "qutebrowser"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+M repeat=false { close-window; }


    Ctrl+Alt+Delete { quit; }
    Mod+Shift+Delete { power-off-monitors; }

    /* Navigation and rearrangement */

    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+A     { focus-monitor-left; }
    Mod+D   { focus-monitor-right; }
    Mod+Ctrl+A     { move-column-to-monitor-left; }
    Mod+Ctrl+D     { move-column-to-monitor-right; }

    /* Organization */

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }

    /* Utils */

    Mod+Backslash { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Misc.

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
